extends layout

block content
  .container
    .py-5.text-center
      h2 Lijst met alle inschrijvingen
      p.lead Hier staat een lijst met alle ingeschreven kinderen.
  .container
    hr.mb-4
    a.btn.btn-primary.btn-block.btn-lg(href='/inschrijven', role='button') Nieuwe inschrijving registreren
    hr.mb-4
  .container
    p.lead Inschrijvingen:
    .list-group
      each inschrijving in inschrijvingen_list
        a.list-group-item.list-group-item-action(href='/inschrijvingen/'+inschrijving._id)
          | #{inschrijving.achternaamKind} #{inschrijving.voornaamKind}
        .modal.fade(role="dialog", id="modal2", tabindex="-1",aria-labelledby="exampleLabel", aria-hidden="true", data-toggle="modal",data-target="#modal2")
          .modal-dialog(role="document")
            .modal-content
              .modal-header 
                h5.modal-title Verwijderen
                a.close(type="button" , data-dismiss="modal", aria-label="Close")
                  span(aria-hidden="true") &times;
              .modal-body
                p Ben je zeker dat je deze administrator wil verwijderen?
              .modal-footer
                a.btn.btn-error(role="button", data-dismiss="modal" ) Cancel
                a.btn.btn-danger.verwijderKnop(role="button", href='') Verwijderen
    br
    hr.mb-4
  .container
    a.btn.btn-outline-primary.btn-block.btn-lg(href='/administrator/beheer', role='button') Naar beheerpagina 
    hr.mb-4
    br