extends layout

block content
  .container
    .py-5.text-center
      h2 Contact
      p.lead  Kom te weten waar je ons kan vinden en hoe je ons kan contacteren!
      .container 
        .row#wrapper
          .col-md
            h3 Adres
            p Tomberg 21A bus 2
            p 8791 Beveren-Leie
          .col-md
            h3 Contact
            p e-mail: info@despeelberg.be
            p facebook: SpeelpleinDeSpeelbergvzw
            p instagram: Speelpleindespeelberg
            p Margot Soetaert: 0470/031652
        .row
          #rechter-contact-kolom.col-lg
            div#map
        
