extends layout

block content
  .container
    .py-5.text-center
      h2 Praktisch
      p.lead Op deze pagina vind je alle info die je nodig hebt!
      hr.light-100
      .container
        .row
          img(src="../public/img/cover.JPG", style="width:100%; height:100%; padding-bottom=30px")
        .row(style="text-align: left")
          .col-sm
            h3 Waar wanneer en voor wie?
            p
              |Het evenement vindt plaats op vrijdag 13 juli (9:30u - 18u) en zaterdag 14 juli (10:30u - 19u) 2018 op de terreinen van speelplein de speelberg.
              | Feest op de berg is voor iedereen vanaf 3 jaar! Zoek je nog een super coole activiteit voor je speelplein, grabbelpas, kinderopvang of jeugdbeweging of wil je gewoon met je vrienden of familie komen? Iedereen is welkom! Voor kleuters voorzien we een apart afgebakend kleuterdorp met eigen randanimatie en een eigen podium, zodat zij ongestoord en veilig mee kunnen rocken. Uiteraard is ook de rest van het terrein toegankelijk voor kleuters.
              | Organisaties die inclusief werken zijn ook zeker welkom: voor kinderen met een beperking en hun begeleiding voorzien we een verhoogde staanplaats aan het podium en aangepaste randanimatie. 
          .col-md
            h3 Praktische organisatie en bestelbon
            p
              |Iedereen is welkom op het festival. Om de inschrijvingen vlot te laten verlopen vragen we aan groepen om, indien mogelijk, op voorhand al een seintje geven met hoeveel je ongeveer komt (onze contactgegevens vind je hier). Dan zorgen wij ervoor dat de inkombandjes op naam van jullie werking klaarliggen.
              |We werken ook met bestelbonnen. Na het evenement sturen wij dan een factuur.
        .row.text-center
          hr.light-100
          .col-md-6
            h3 Ons volgen?
            p Wil je op de hoogte bijven van alle laatste nieuwtjes, vind ons dan zeker leuk op facebook of volg ons op instagram! (Je kan onze links vinden onderaan de pagina.)
          .col-md-6 
            iframe(src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdespeelbergvzw%2F&tabs=timeline&width=700&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media")

